* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px 250px;
    padding: 70px;
    font-size: 16px;
}

.company {
    display: flex;
    align-items: center;
    width: 700px;
    height: 200px;
    padding: 100px;
    line-height: 1.5;
}

img {
    margin-right: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    margin: 5px auto;
    margin-bottom: 10px;
    font-weight: 500;
    color: #003a5d;
}

.address {
    font-family: sans-serif;
    margin-bottom: 15px;
    color: #81859c;
    font-weight: 500;
}

.phones,
.emails {
    font-family: sans-serif;
    margin-bottom: 15px;
}